<div class=" row m-3 @_displayClass">
    @if(recipe is not null)
    {
        <div class=" col">
            <hr/>
            <div class="card shadow-sm">
                <img class="card-img-top img-thumbnail" src="/images/@recipe.ImageUrl">
            </div>
            <div class="card-body">
                <h5 class="card-title">@recipe.Name</h5>
                <h6 class="card-subtitle">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pin-map" viewBox="0 0 16 16">
                        <path fill-rule="evenodd" d="M3.1 11.2a.5.5 0 0 1 .4-.2H6a.5.5 0 0 1 0 1H3.75L1.5 15h13l-2.25-3H10a.5.5 0 0 1 0-1h2.5a.5.5 0 0 1 .4.2l3 4a.5.5 0 0 1-.4.8H.5a.5.5 0 0 1-.4-.8l3-4z" />
                        <path fill-rule="evenodd" d="M8 1a3 3 0 1 0 0 6 3 3 0 0 0 0-6zM4 4a4 4 0 1 1 4.5 3.969V13.5a.5.5 0 0 1-1 0V7.97A4 4 0 0 1 4 3.999z" />
                    </svg>
                    @recipe.Originality
                </h6>
                <p class="card-text">
                    @recipe.Description
                </p>
                <p>
                    <ul>
                        @foreach (var item in recipe.Ingridients)
                        {
                            <li>
                                @item.Name
                            </li>
                        }
                    </ul>
                </p>
            </div>
            <div class="d-flex justify-content-between">
                <span>
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-currency-dollar" viewBox="0 0 16 16">
                        <path d="M4 10.781c.148 1.667 1.513 2.85 3.591 3.003V15h1.043v-1.216c2.27-.179 3.678-1.438 3.678-3.3 0-1.59-.947-2.51-2.956-3.028l-.722-.187V3.467c1.122.11 1.879.714 2.07 1.616h1.47c-.166-1.6-1.54-2.748-3.54-2.875V1H7.591v1.233c-1.939.23-3.27 1.472-3.27 3.156 0 1.454.966 2.483 2.661 2.917l.61.162v4.031c-1.149-.17-1.94-.8-2.131-1.718H4zm3.391-3.836c-1.043-.263-1.6-.825-1.6-1.616 0-.944.704-1.641 1.8-1.828v3.495l-.2-.05zm1.591 1.872c1.287.323 1.852.859 1.852 1.769 0 1.097-.826 1.828-2.2 1.939V8.73l.348.086z" />
                    </svg>
                    @recipe.Price
                </span>
                <span>
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-clock" viewBox="0 0 16 16">
                        <path d="M8 3.5a.5.5 0 0 0-1 0V9a.5.5 0 0 0 .252.434l3.5 2a.5.5 0 0 0 .496-.868L8 8.71V3.5z" />
                        <path d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16zm7-8A7 7 0 1 1 1 8a7 7 0 0 1 14 0z" />
                    </svg>
                    @recipe.TimeInString
                </span>
                <span>
                    <button class="btn btn-danger" @onclick="@(()=> _displayClass="d-none")">Close</button>
                </span>
            </div>
        </div>
    }

</div>

@code {
    @code {
        [Parameter]
        public Recipe recipe { get; set; }
        string _displayClass = "d-none";
        protected override void OnParametersSet()
        {
            _displayClass = recipe is null ? "d-none" : "d-block";
        }
}
}
