@page
@model AAASamples.Pages.Users.ListModel
@{
}
<h3>Users List</h3>
<hr />
<table class="table table-striped table-bordered">
    <tr>
        <td>Id</td>
        <td>Name</td>
        <td>Family</td>
        <td>User Name</td>
        <td>Email</td>
        <td>
            Actions
        </td>
    </tr>
    @if (Model.Users.Count() < 1)
    {
        <tr>
            <td colspan="6">
                There is no user in database
            </td>
        </tr>
    }
    else
    {
        foreach (var user in Model.Users)
        {
            <tr>
                <td>@user.Id</td>
                <td>@user.Name</td>
                <td>@user.Family</td>
                <td>@user.UserName</td>
                <td>@user.Email</td>
                <td>
                    <a asp-page="Edit" asp-route-id="@user.Id" class="btn btn-info">Edit</a>
                    <a asp-page="ManamgeRole" asp-route-id="@user.Id" class="btn btn-info">ManamgeRole</a>

                    <form method="post">
                        <input type="hidden" name="id" value="@user.Id">
                        <button type="submit" class="btn btn-danger">Remove</button>
                    </form>
                </td>
            </tr>
        }
    }
</table>
<a class="btn btn-success" asp-page="Create">Create</a>