@page "/"
@inject HttpClient _httpClient;
<PageTitle>Recipes Home Page</PageTitle>
<RecipeSearch></RecipeSearch>
@if (_recipes == null)
{
    <div>Loading Recipes ...</div>
}
else
{
    <ViewSwithcher>
        <CardTemplate>
            <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">

                @foreach (var recipe in _recipes)
                {
                    <RecipeCard recipe="recipe" OnSelectRecipe="OnSelectRecipeHandler"></RecipeCard>
                }
            </div>
        </CardTemplate>
        <TableTemplate>
            <table class="table table-bordered table-striped">
                <tr>
                    <th>
                        Name
                    </th>
                    <th>
                        Originality
                    </th>
                    <th>
                        Price
                    </th>
                    <th>
                        Time
                    </th>
                    <th>
                        View
                    </th>
                </tr>
                @foreach (var recipe in _recipes)
                {
                 <tr>
                     <td>
                         @recipe.Name
                     </td>
                                       <td>
                         @recipe.Originality
                     </td>
                        <td>
                            @recipe.Price
                        </td>
                        <td>
                            @recipe.TimeInString
                        </td>
                        <td>
                            <button class="btn btn-success" @onclick="@(()=> OnSelectRecipeHandler(recipe))">Select</button>
                        </td>
                 </tr>                   
                }
            </table>
        </TableTemplate>
    </ViewSwithcher>

    <RecipeDetail recipe="selectedRecipe"></RecipeDetail>
}

@code {
    public IEnumerable<Recipe> _recipes { get; set; }
    public Recipe selectedRecipe { get; set; }
    protected override async Task OnInitializedAsync()
    {
        try
        {
            _recipes = await _httpClient.GetFromJsonAsync<IEnumerable<Recipe>>("api/Recipe");
        }
        catch (Exception ex)
        {
            Console.WriteLine($"Badness->{ex.Message}");

        }
    }

    void OnSelectRecipeHandler(Recipe recipe)
    {
        selectedRecipe = recipe;

    }
}
